body {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Helvetica Neue', Arial, 'Noto Sans', sans-serif; margin: 0; padding: 20px; background-color: #E9EBEE;}

#n {
  display:flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  
}

#n h1 {
  background-color :#1877F2;
  border-radius: 25px;
  width: 200px;
  justify-content: center;
  align-items: center;
  display:flex;
}

.container { max-width: 800px; margin: 0 auto; }

.title { font-size: 36px; text-align: center; margin-bottom: 20px; }

.search-container { display: flex; align-items: center; justify-content: center; }

.search { padding: 10px; font-size: 16px; }

#searchInput { width: 500px; height: 30px;text-align: center; }

#searchButton { width: 100px; height: 30px; background-color: cornflowerblue; color: white;text-align: center;}

#searchButton:hover { background-color: cornflowerblue; }
table { border-collapse: separate; }

th { background-color: cornflowerblue; color: white; border: 1px solid black; }

th:first-child { border-radius: 10px 0 0 0; }

th:last-child { border-radius: 0 10px 0 0; } 

.table-container { border: 1px solid black; padding: 10px; }

#resultsTable { background-color: #fff;width: 100%; border: 1px solid royalblue;border-radius: 25px;}



#infoContainer {background-color :#fff;margin-top: 20px;border: 1px solid royalblue;padding: 20px;
border-radius: 25px;}

#infoContainer h2 {background-color: #fff;margin-top: 0;border-radius: 25px;}

#infoContainer p {margin-bottom: 10px;}

#infoContainer img {
  max-width: 100%;
}

.button { padding: 10px; background-color: cornflowerblue; color: white; }

.button:hover { background-color: cornflowerblue; }

footer { background-color: #fff; color: #black; padding: 20px 0; text-align: center;margin-top: 500px;}

footer p { margin: 0; }